Package: com.muirey03.cr4shed
Name: Cr4shed
Depends: mobilesubstrate, com.rpetrich.rocketbootstrap, com.rpetrich.rocketbootstrap (>= 1.0.7~beta1) | firmware (<< 12.0), com.cokepokes.libnotifications (>= 0.2-2), cy+cpu.arm64 | cy+cpu.arm64e
Version: 3.0.1
Architecture: iphoneos-arm
Description: More useful crash logs
Maintainer: Muirey03 <tommy.muir@btinternet.com>
Author: Muirey03
Section: Tweaks
